#poll-summary {
    --bg-section-hover: oklch(from var(--app-island-bg) calc(l + 0.1) calc(c - 0.0) h);
    

    @media (min-width: 1024px) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;

}

#poll-summary .poll-questions {
    @media (min-width: 640px) {
        border-radius: 0.5rem;
    }

    /*box-shadow: 0 1px 2px 0 #0000000d;
    background-color: #ffffff;
    overflow: hidden;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;*/

    .question-list {
        font-size: 1.125rem;
        line-height: 1.75rem;
        width: 100%;
    }

    ul > li {
        border-bottom-width: 1px; 
        border-color: var(--app-island-cutout-bg); 
    }
}

#poll-summary ul.question-list {
    & > li {
        padding: 1.25rem 1.5rem;
        display: flex;
        justify-content: space-between;
        -moz-column-gap: 1.5rem;
        column-gap: 1.5rem;
        transition: background-color 0.1s ease;

        &.deleting {
            pointer-events:none;
            opacity: 0.7;
        }

        &.processing {

        }
        

        &.collapsed:not(.edit-lock) {
            cursor: pointer;
        }

        &.collapsed:hover:not(.edit-lock), & .collapse-chevron:hover {
            background-color: var(--bg-section-hover);
        }

        .question {
            width: 100%;
        }

        .question .text-container {
            display: flex;
            justify-content: space-between;

            p, input[type=text] {
                /*color: #222;*/
                line-height: 1.5rem;
                font-weight: 600;
                font-size: 0.875rem;
            }

            .drag-handle {
                display: inline-block;
                opacity: 0.7;
            }

            .spinner {
                width: 1.5em;
                height: 1.5em;
            }
        }

        .question .response-editor .option {
            --option-bg: oklch(from var(--app-island-bg) calc(l + 0.1) calc(c - 0.0) h);;
            --option-bar-bg: oklch(from var(--app-island-bg) calc(l + 0.2) calc(c - 0.0) h);;

            position: relative;
            border: 1px solid var(--option-bg);
            background: var(--option-bg);
            border-radius: 0.5em;

            height: 2.5em;
            overflow: hidden;
            
            margin-bottom: 0.5em;          
            
            .controls {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                gap: 0.3em;
                justify-content: space-between;
                align-items: center;

                padding: 0.3em 0.7em;
                
                label {
                    width: 100%;
                }
                z-index: 1;
            }

            .chart-bar {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                background-color: var(--option-bar-bg);
                z-index: 0;
                transition: width 0.5s ease-in;
            }
        }

        &.processing .collapse-chevron {
            display: none;
        }
        &:not(.processing) .spinner {
            display: none;
        }

        .question .text-container .collapse-chevron {
            width: 2em;
            height: 2em;
            padding: 0.5rem;
            transform: rotate(180deg);
            transition: 
                transform 0.3s var(--timing-bouncy),
                background-color 0.2s ease,
                ;
            cursor: pointer;
            clip-path: circle(50%);
        }

        &.collapsed .question .text-container .collapse-chevron {
            transform: rotate(0deg);
        }


        .response-stats {

        }

        .response-preview {
            font-size: 0.75rem;
            color: #666;
            padding-left: 1.5rem;
        }


    }
}

#poll-summary.editing  {
    * {
        --primary-color: var(--app-state-editing);
        --app-island-cutout-bg: var(--primary-color);
    }

    .poll-questions {
        border: 2px solid oklch(from var(--primary-color) calc(l - 0.0) calc(c - 0.0) h);
    }

    .edit-buttons {
        display: flex;
        gap: 3px;
    }

    ul.question-list{
        /*background-color: oklch(from var(--primary-color) calc(l + 0.3) calc(c - 0.1) h);*/
        & > .li {
            border-color: oklch(from var(--primary-color) calc(l + 0.0) calc(c - 0.1) h);
        }

        .edit-lock {
            opacity: 0.5;

        }

        .edit-lock .editor {
            font-size: 0.75rem;
            svg { 
                width: 1rem;
                height: 1rem;
                display: inline-block;
            }
        }

        .select-group {
            color: oklch(from var(--primary-color) calc(l - 0.2) calc(c - 0.1) h);

        }

        .response-params-config .option-row {
            display: flex;
            align-items: baseline;
        }

        .option-delete {
            --danger-color: #c13434;
            --danger-pale: #f9d5d5;


            padding: 0.6rem;
            border: 1px solid var(--danger-color);
            background-color: var(--danger-pale);
            color: var(--danger-color);
            border-radius: 0.5rem;
            width: 2rem;
            height: 2rem;
            margin-left: 0.5rem;

            .icon {
                font-size: 10pt;
            }

            &:hover {
                background-color: var(--danger-color);
                color: var(--danger-pale);
            }
            &:active {
                box-shadow: inset 0px 2px 3px #00000033;
            }

            &:disabled {
                background-color: oklch(from var(--danger-pale) calc(l - 0.0) 0 h);
                color: oklch(from var(--danger-color) calc(l - 0.0) 0 h);
                border-color: oklch(from var(--danger-color) calc(l - 0.0) 0 h);
            }
        }

        .question-delete {

        }
    }
}

.editor {

}

#poll-summary .actions {
    gap: 0.25rem;
    align-items: flex-start;
    display: flex;
    margin: 0.25rem 0;
    .action {
        width: 3em;
        height: 3em;
        --tw-bg-opacity: 1;
        background-color: rgb(55 65 81 / var(--tw-bg-opacity));
        border-radius: 9999px;
        display: inline-flex;



        &.forbidden {
            opacity: 0.5;
        }

        &.active {
            background-color: var(--app-cue-info);
        }

        &.edit.active {
            background-color: var(--app-state-editing);
        }

        svg {
            fill: #fff;
            width: 70%;
            height: 70%;
            margin-top: 0.45rem;
            margin-left: 0.47rem;
        }
        
    }
} 


#poll-summary .state-message {
    height: 3.5em;
    width: 100%;
    text-align: center;
}